<main class="flex flex-row h-screen w-screen bg-white">
  <section
    class="flex h-full w-[10%] bg-purple-950 shadow-2xl rounded-sm justify-center"
  >
    <nav class="flex flex-col p-4 text-white font-bold">
      <a 
        class="mb-3"
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        routerLinkActive="font-bold"
        >{{ link.label }}</a
      >
    </nav>
  </section>

  <section class="flex h-full w-[90%] p-4 shadow-2xl">
    <router-outlet></router-outlet>
  </section>
</main>
